/* Vairables */
$site-width: 1024px;

/* Mixins*/
@mixin reset-margin {

  width: $site-width;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4em;
}

.Header__menu {
  height: 5em;
  border-bottom: 1px solid red;
  width: 100%;

  &--container {
    display: flex;
    padding: 0 10em;
    align-items: center;
    justify-content: space-between;
    @include reset-margin();
  }

  &--logo {
    max-width: 8em;
  }

  a {
    color: #111;
    padding-left: 2em;
    text-decoration: none;
  }
}

.Table {
  @include reset-margin();
  margin-top: 3em;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  &__head {
    background-color: red;
    color: white;
    text-align: left;

    th {
      padding: 12px 15px;
      font-weight: 300;
    }
  }

  &__body {
    td {
      border: 1px solid #ddd;
      padding: 12px 15px;
    }

    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
  }
}